{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Import{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center my-5">Importer un contexte</h2>

        {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.file, {
            attr: {
                'placeholder': 'Sélectionner un fichier'
            }
        }) }}

        <div class="text-center button d-flex justify-content-center mb-5">
            <button class="btn btn-primary mt-5">Importer</button>
            <div class="button">
                <a class="btn btn-dark text-primary ml-5 mt-5" href="{{ path('home') }}">Retour</a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
