{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} Mon compte {% endblock %}
{% block body %}
    <div class="container mt-5 mb-5">
    <h2 class="text-center my-5 text-secondary font-weight-bold">Mon compte</h2>
    {% if is_granted("ROLE_USER") and not is_granted("ROLE_ADMIN") %}
        <div class="d-flex justify-content-end">
            <p>supprimer mon compte
                <a class="" href="{{ path('user_delete', {'id': app.user.id }) }}">
                    <img src="{{ asset('build/images/delete.png') }}" alt="trashcan"></a>
            </p>

        </div>
    {% endif %}
    <h3 class="text-center my-5 text-secondary font-italic">Mes Importations</h3>
    <ul class="row mb-5">
        {% for import in imports %}
            <li class="col-3 ml-2"><a href="{{ path('graph', {'id': import.id }) }}">{{ import.title }}</a></li>
        {% endfor %}
    </ul>
    {% if is_granted("ROLE_ADMIN") %}
    <div class="text-center mt-5">
    <h3 class="text-center my-5 text-secondary font-italic">Gestion des Comptes</h3>
    </div>
    <div class="row">
        <div class="d-flex flex-wrap justify-content-around">
            {% for user in users %}
                <div class="card p-3 m-2">
                    <ul>
                        <li>Nom : {{ user.lastname }}</li>
                        <li>Prénom: {{ user.firstname }}</li>
                        <div class="d-flex option justify-content-around mt-2 p-0">
                            <div>
                            <a href="{{ path('user_edit', {'id': user.id }) }}">
                                <img src="{{ asset('build/images/setting.png') }}" alt="setting">
                            </a>
                            </div>
                            <div>
                                <a class="" href="{{ path('user_delete', {'id': app.user.id }) }}">
                                    <img src="{{ asset('build/images/delete.png') }}" alt="trashcan">
                                </a>
                            </div>
                        </div>
                    </ul>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock %}