{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} Mon compte {% endblock %}
{% block body %}
<div class="container mt-5 mb-5">
    <h2 class="text-center my-5 text-secondary">Mon compte</h2>
    <h3>Mes Importations</h3>
    <ul>
{% for import in imports %}
    <li><a href="{{ path('graph', {'id': import.id }) }}">{{ import.title }}</a></li>
    {% endfor %}
    </ul>
    {% if is_granted("ROLE_ADMIN") %}
        <h3>Personnes enregistrés</h3>
        <div class="row">
        {% for oneUser in users %}
            <div class="card col-4">
                <ul>
                    <li>Nom : {{ oneUser.lastname }}</li>
                    <li>Prénom: {{ oneUser.lastname }}</li>
                    <li>Email: {{ oneUser.email }}</li>
                    <li class="row">
                    <a class="col btn btn-primary w-50" href="{{ path('user_edit', {'id': user.id }) }}">
                        Modifier le profil
                    </a>
                        <div class="w-50 ml-2">
                    {{ include('user/_delete_form.html.twig') }}
                        </div>
                    </li>
                </ul>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}