{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Graphique{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('graph') }}
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h2 class="text-center my-5">{{ import.title }}</h2>
        <form action="{{ path('graph',{'id' : import.id}) }}" method="POST">
        <label for="adr" id="adr">Adresse du détecteur</label>
        <select class="mb-5" name="adr" id="adr">
            <option class="bg-secondary" value="">-Choix-</option>
            {% for adr in adrs %}
            <option class="bg-secondary text-light" value="{{ adr }}">{{ adr }}</option>
            {% endfor %}
        </select>
        <button class="btn btn-secondary">Voir</button>
        </form>
        {{ render_chart(chart, {'class': 'graph', 'id': 'chart'}) }}
    </div>
{% endblock %}
