{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} Graphique{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('graph') }}
{% endblock %}

{% block body %}
    <div class="container mt-5 my-5">
        <div class="d-flex justify-content-center my-5">
        <h2 class="text-secondary mt-1">{{ import.title }}</h2>
        <p class="mt-3"><small class="text-muted font-italic">(Importé par {{ import.author.firstname }} {{ import.author.lastname }})</small></p>
        </div>
        <div class="filters d-flex justify-content-between">
            <div class="card p-3">
                {% include '/_include/_formAdr.html.twig' %}
            </div>
            <div class="card p-3">
                {% include '/_include/_formDateChoice.html.twig' %}
            </div>
            <div class="card p-3">
                {% include '/_include/_formAlgo.html.twig' %}
            </div>
        </div>
    </div>
    <h3 class="text-center text-secondary">Adresse sélectionnée : <strong>{{ adrChoice ?? '' }}</strong></h3>
    <div class="chart-container mt-5">
        {% include '/_include/_graphique.html.twig' %}
    </div>
    <div class="condition justify-content-center m-5">
        {% for condition in conditions %}
            <div class="card p-5">
                Le détecteur {{ adrChoice ?? '' }} est passé du status {{ condition|join(' à  ','   le  ') }}
            </div>
        {% endfor %}
    </div>
    <div class="button d-flex justify-content-around mb-5">
        {% if is_granted("ROLE_ADMIN") or import.author == app.user %}
            {{ include('admin/import/_delete_form.html.twig') }}
        {% endif %}
        <a class="btn btn-secondary text-white ml-2" href="{{ path('archive') }}">Retour</a>
    </div>
{% endblock %}
