{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} Graphique{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('graph') }}
{% endblock %}

{% block body %}
    <div class="container mt-5 my-5">
        <div class="d-flex justify-content-center my-5">
            <h2 class="text-secondary mt-1 font-weight-bold">{{ import.title }} </h2>
            <p class="mt-3 ml-2">
                <small class="text-muted font-italic">
                    (Importé par {{ import.author.firstname }} {{ import.author.lastname }})
                </small>
            </p>
        </div>
        <div class="d-flex justify-content-around">
            <div class="card p-4">
                {% include '/_include/_formContext.html.twig' %}
            </div>
            <div class="card p-4">
                {% for leading in leadings %}
                    <p>ECS : {{ leading.ecs }}</p>
                    <p>Equipement : {{ leading.equipment }}</p>
                    <p>Module : {{ leading.module }}</p>
                    <p>Adresse : {{ leading.adr }}</p>
                    <p>Boucle : {{ leading.looping }}</p>
                    <p>Zone : {{ leading.zone }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="text-center mt-3">
            <div class="card">
                <p>Algo : {{ contextInfo.algo ?? '' }}</p>
                <p>Evaluation : {{ contextInfo.evaluation ?? '' }}</p>
                <p>Demi contexte : {{ contextInfo.halfcontext ?? '' }}</p>
                <p>Identifiant Produit : {{ contextInfo.identifiant ?? '' }}</p>
                <p>Encrassement 1 : {{ contextInfo.encr1 ?? '' }}</p>
                <p>Encrassement 2 : {{ contextInfo.encr2 ?? '' }}</p>
                <p>Seuil Pente : {{ contextInfo.slope ?? '' }}</p>
                <p>Seuil Ratio : {{ contextInfo.ratio ?? '' }}</p>
                <p>Seuil Delta : {{ contextInfo.delta ?? '' }}</p>
                <p>Seuil Température : {{ contextInfo.temp ?? '' }}</p>
                <p>Vélocimetrie : {{ contextInfo.velocimeter ?? '' }}</p>
            </div>

        </div>

    </div>
    <div class="chart-container mt-5">
        {% include '/_include/_graphique.html.twig' %}
    </div>
    <div class="button d-flex justify-content-around mb-5">
        {% if is_granted("ROLE_ADMIN") or import.author == app.user %}
            {# {{ include('import/_delete_form.html.twig') }} #}
        {% endif %}
        <a class="btn btn-secondary text-white ml-2" href="{{ path('archive') }}">Retour</a>
    </div>
{% endblock %}
