{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Graphique{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('graph') }}
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h2 class="text-center my-5">{{ import.title }}</h2>
        {{ render_chart(chart, {'class': 'graph'}) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/public/bundles/mukadichartjs/Chart.bundle.min.js"></script>
    <script src="/public/bundles/mukadichartjs/mukadi.chart.min.js"></script>
{% endblock %}
