{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} Graphique{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('graph') }}
{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5">
        <h2 class="text-center my-5 text-secondary">{{ import.title }}</h2>
        <div class="d-flex justify-content-between">
            <div class="card p-3">
                {% include '/_include/_formAdr.html.twig' %}
            </div>
            <div class="card p-3">
                {% include '/_include/_formDateChoice.html.twig' %}
            </div>
        </div>
    </div>
    <h3 class="text-center text-secondary">Adresse sélectionnée : <strong>{{ adrChoice ?? '' }}</strong></h3>
    <div class="mt-5">
        {{ render_chart(chart, {'class': 'graph', 'id': 'chart'}) }}
    </div>
    <div class="export btn btn-primary">
        <button id="save_graph">Exporter</button>
    </div>
    <div class="condition justify-content-center m-5">
            {% for condition in conditions %}
        <div class="card p-5">
           Le détecteur {{ adrChoice ?? '' }} est passé du status  {{ condition|join(' à  ','   le  ') }}
        </div>
            {% endfor %}
    </div>
    <div class="button d-flex justify-content-around mb-5">
        <a class="btn btn-dark text-primary" href="{{ path('archive') }}">Retour</a>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
