{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Import{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center my-5">Importer un fichier d'enregistrement</h1>

        {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.file, {
            attr: {
                'placeholder': 'Sélectionner un fichier'
            }
        }) }}

        <div class="text-center">
            <button class="btn btn-primary mt-5">Importer</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
