{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Enregistrement{% endblock %}

{% block body %}
    <div class="container mb-5">
        <h2 class="text-center my-5 justify-content-center font-weight-bold">Archives enregistrements</h2>
        <div class="d-flex justify-content-center">
            <div class="w-50 text-center">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="text-center m-4">
                    <button class="btn btn-secondary">{{ 'Rechercher' }}</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <table class="table table-responsive-lg text-dark text-center mb-5">
            <thead class="thead-light">
            <tr>
                <th class="tdTime">Date d'importation</th>
                <th class="tdTime">Titre</th>
                <th>Type</th>
                <th>Importé par</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for import in imports %}
                <tr>
                    <td class="tdTime">{{ import.datetime|format_datetime('full', 'short', locale='fr') }}</td>
                    <td>{{ import.title }}</td>
                    <td class="tdTime">{{ import.category.name }}</td>
                    <td>{{ import.author.lastname ?? '' }} {{ import.author.firstname ?? '' }}</td>
                    <td>
                        <a class="no-responsive-button btn btn-secondary"
                           href="{{ path('graph_recorder', {'id': import.id }) }}">
                            Voir le graphique
                        </a>

                        <a class="responsive-button"
                           href="{{ path('graph_recorder', {'id': import.id }) }}">
                            <img src="{{ asset('build/images/eye.png') }}" alt="eye"></a>

                        {% if is_granted("ROLE_ADMIN") or import.author == app.user %}
                            <div class="no-responsive-button btn btn-white sm-2">
                            {{ include('import/_delete_form.html.twig') }}
                            </div>
                            <div class="responsive-button">
                                <a class="" href="{{ path('import_delete', {'id': import.id }) }}">
                                    <img src="{{ asset('build/images/delete.png') }}" alt="trashcan"></a>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td class="text-danger" colspan="8">Aucun résultat trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="button d-flex justify-content-around mb-5">
            <a class="btn btn-dark text-white" href="{{ path('home') }}">Retour</a>
        </div>
    </div>
{% endblock %}
