<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}FARE | {% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
<header>
    {% block connexion %}
        <div class="d-flex justify-content-end">
            {% if app.user %}
                <div>
                    <p class="connected nav-link">Vous êtes connecté en tant que</p>
                </div>
                <div>
                    <a href="{{ path('account') }}"
                       class="nav-link text-primary">{{ app.user.lastname }} {{ app.user.firstname }}</a>
                </div>
                <div>
                    <a class="hover nav-link text-secondary" href="{{ path('app_logout') }}">
                        [Se déconnecter]</a>
                </div>
            {% else %}
                <div>
                    <a class="hover nav-link" href="{{ path('app_login') }}"> Se connecter</a>
                </div>
                <div class="nav-link">
                    ou
                </div>
                <div>
                    <a class="hover nav-link" href="{{ path('app_register') }}">Créer un compte</a>
                </div>
            {% endif %}
        </div>
    {% endblock %}
    {% block flash %}
        {% for category, messages in app.flashes %}
            {% for message in messages %}
                <div class="addFlash alert alert-{{ category }} text-center">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock %}
    {% block slogan %}
        <div class="container-fluid d-flex">
            <a class="hover linkslogan" href="{{ path('home') }}">
                <img class="imgslogan pt-5 ml-5" src="{{ asset('build/images/logo-fare.png') }}" alt="logo FARE"></a>
            <div class="align-self-center  pt-5">
                <h1 class="slogantitle">Traitement et analyse des données de situation de feu et de non feu.</h1>
            </div>
        </div>
    {% endblock %}
</header>
{% block navbar %} {% include '_include/_navbar.html.twig' %} {% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
